.button-custom {
  background-color: #e07153;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 13px 59px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
