.header {
  background-color: #fff;
  margin: 0px 0px 20px 0px;
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-top {
    &-row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 0px 0px 60px;
      padding: 20px 0px 20px 0px;
    }
    &__logo {
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../assets/images/logo.svg");
        background-repeat: no-repeat;
        top: 10px;
        left: -60px;
        max-width: 134px;
        min-height: 156px;
        width: 100%;
        height: 100%;
        // max-width: 134px;
        // margin: 0px 0px 0px 60px;
        padding: 0px 0px 0px 0px;
        z-index: 5;
        background-size: cover;
      }
    }
    &__menu {
      margin: 0px 0px 0px 0px;
      display: flex;
      align-items: center;
      list-style: none;
      &-item {
        margin: 0px 20px 0px 20px;
      }
      &-burger {
        display: none;
        width: 40px;
        height: 40px;
        background-color: #e07153;
        padding: 2px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        cursor: pointer;
        svg {
          margin: 0px 5px 0px 0px;
        }
      }
      small {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: #b7b7b7;
      }
    }
    &__cart {
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      padding: 12px 19px;
      border-radius: 6px;
      cursor: pointer;
      &-summ {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        padding: 0 16px;

        border-right: 1px solid #fff;
      }
      &-info {
        position: relative;
        svg {
          cursor: pointer;
          margin: 0px 0px 0px 19px;
        }
      }
      &-count {
        position: absolute;
        top: -6px;
        right: -7px;
        background-color: #e07153;
        width: 16px;
        height: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        border-radius: 50%;
        color: #fff;
      }
    }
    &__user {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      padding: 14px 17px;
      border-radius: 6px;
      cursor: pointer;
    }
  }
  &-bottom {
    background-color: #f5f5f5;
    padding: 12px 0px 12px 0px;
    &__menu {
      list-style-type: none;
      margin: 0px 0px 0px 150px;
      display: flex;
      justify-content: space-between;
      // align-items: center;
      align-items: flex-end;
      &-item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        svg {
          width: 30px;
          height: 30px;
          margin: 0px 0px 8px 0px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    &-top {
      &__logo {
        &::before {
          // content: "";
          top: 35px;
          max-width: 108px;
          min-height: 126px;
          background-size: cover;
        }
      }
      &__menu {
        &-item {
          margin: 0px 10px 0px 10px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    // margin: 0px 0px 20px 0px;
    &-top {
      &-row {
        justify-content: flex-end;
      }
      &__logo {
        &::before {
          top: 10px;
          max-width: 79px;
          min-height: 92px;
        }
      }
      &__menu,
      &__contacts {
        display: none;
      }
      &__menu {
        &-burger {
          display: block;
        }
      }
      &__cart {
        margin: 0px 20px 0px 0px;
      }
      &__user {
        margin: 0px 20px 0px 0px;
      }
    }
    &-bottom {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &-top {
      &__user {
        display: none;
      }
    }
  }
}
