.main {
  &-slider {
    margin: 0px 0px 60px 0px;
  }
}

.advantages {
  &-wrapper {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(1, 1fr);
    // // grid-gap: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 100px 0px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
  }
  &__image {
    margin: 0px 0px 12px 0px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0px 0px 2px 0px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.positions {
  margin: 0px 0px 50px 0px;
  &-tabs {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px 0px 40px 0px;
    &__item {
      cursor: pointer;
      font-size: 48px;
      font-weight: 500;
      line-height: 60px;
      color: #b7b7b7;
      margin: 0px 32px 0px 0px;
      &:hover {
        color: #1b1b1b;
      }
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
      &-active {
        cursor: pointer;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        color: #1b1b1b;
        margin: 0px 32px 0px 0px;
        &:last-child {
          margin: 0px 0px 0px 0px;
        }
      }
    }
    &-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px 20px;
      &__card {
        &-image {
          width: 100%;
        }
        &-info {
          display: flex;
          align-items: center;
        }
        &-gram,
        &-calories {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #b7b7b7;
        }
        &-gram {
          margin: 0px 10px 0px 0px;
        }
        &-title {
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          margin: 0px 0px 5px 0px;
        }
        &-structure {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          min-height: 60px;
          margin: 0px 0px 12px 0px;
        }
        &-bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &-price {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          small {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-decoration-line: line-through;
            color: #b7b7b7;
          }
          h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;

            /* black */

            color: #1b1b1b;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .advantages {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px 30px;
    }
  }
}
@media (max-width: 500px) {
  .advantages {
    &__title {
      font-size: 22px;
      line-height: 20px;
      font-weight: 700;
      margin: 0px 0px 10px 0px;
    }
  }
}

@media (max-width: 425px) {
  .advantages {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 30px 0px;
    }
  }
}
