.swiper {
  width: 100%;
  min-height: 424px;
}

.swiper-slide {
  padding: 0px 20px;
  background-color: #f5f9fa;
  min-height: 424px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }

  &__img {
    max-width: 450px;
    width: 100%;
  }
}

.slide {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// .swiper-button-next {
//   &::after {
//     content: "";
//     background-color: #fff;
//     width: 100px;
//   }
// }

@media (max-width: 850px) {
  .slide {
    &-wrapper {
      flex-direction: column-reverse;
    }
  }
  .swiper-slide {
    padding: 0px 0px 20px 0px;
    h1 {
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      margin: 0px 0px 10px 0px;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
  }
}
